@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: url("../images/bg-stars.svg"), #1b1924;
  height: 100vh;
  margin: 0;
}

main {
  height: 175vh;
  background: url(../images/pattern-hills.svg) no-repeat 0 bottom;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.container {
  display: none;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.header {
  background-color: #8486a9;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  text-align: center;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  background-color: #8486a9;
  border: 2px solid #33354d;
  border-radius: 4px;
  display: block;
  font-size: 16px;
  font-family: inherit;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.open-form {
  font-family: inherit;
  font-size: 1.2rem;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  background: #33354d;
  border: 2px solid #cb3365;
  padding: 30px 60px;
  border-radius: 45px;
  color: #fb6087;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px darkgray;
          box-shadow: 0 2px 4px darkgray;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 1;
  margin-bottom: 15px;
}

.close-form {
  font-family: inherit;
  font-size: 1.2rem;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  background: #33354d;
  border: 2px solid #cb3365;
  padding: 30px 60px;
  border-radius: 45px;
  color: #fb6087;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px darkgray;
          box-shadow: 0 2px 4px darkgray;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 1;
  margin-bottom: 15px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  background-image: radial-gradient(circle closest-side, white, #eaadc1);
  width: 1px;
  height: 1px;
  z-index: 3;
  -webkit-animation-name: ripple;
          animation-name: ripple;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.circle:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 6px 4px darkgray;
          box-shadow: 0 6px 4px darkgray;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0;
  }
  75% {
    -webkit-transform: scale(450, 450);
            transform: scale(450, 450);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(700, 700);
            transform: scale(700, 700);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0;
  }
  75% {
    -webkit-transform: scale(450, 450);
            transform: scale(450, 450);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(700, 700);
            transform: scale(700, 700);
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */